html, body {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
}

body {
    background:#fff;
}

#wrapper-esaw-drawer-canvas { 
    text-align:center;
}

.esaw-drawer-canvas {
    width:600px;
    height:630px;
    margin:15px auto;
    background:white;
    box-shadow:0px 0px 7px -4px #222;
    padding:10px;
    position:relative!important;
}

.esaw-drawer-shape {
    /*position:absolute!important;*/
    border:1px dashed #d8d8d8;
}

.esaw-drawer-shape:hover {
    border:1px dashed #222;
}

.esaw-drawer-rectangle {  }

.esaw-drawer-circle {
    /*border-radius:50%;*/
}

.esaw-drawer-triangle {
    /*width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;*/
    /*box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);*/
}

.esaw-drawer-triangle:after {
    /*content: "";
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 0 100px 100px 100px;
    border-color: transparent transparent #007bff transparent;/
}